<div class="row">
  
  <!-- Stream Container -->
  <div class="col-md-9">
    <div class="StreamContainer embed-responsive embed-responsive-16by9">
      <object type="application/x-shockwave-flash" data="https://www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf?channel=<%= @streamer.twitch_username%>">
          <param name="allowFullScreen" value="true">
          <param name="allowScriptAccess" value="always">
          <param name="allowNetworking" value="all">
          <param name="movie" value="https://www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf">
          <param name="flashvars" value="hostname=www.twitch.tv&amp;channel=<%= @streamer.twitch_username%>&amp;auto_play=true&amp;start_volume=45">
      </object>
    </div>

    <hr>

    <!-- In Game Information -->
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#gameInfo" id="gameInfo-tab" role="tab" data-toggle="tab" aria-controls="gameInfo" aria-expanded="true">
          Game
        </a>
      </li>
      <li role="presentation">
        <a href="#championInfo" role="tab" id="championInfo-tab" data-toggle="tab" aria-controls="championInfo">
          Champion
        </a>
      </li>
    </ul>


    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="gameInfo" aria-labelledby="gameInfo-tab">
        <%= render 'observer' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="championInfo" aria-labelledby="championInfo-tab">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
      </div>
    </div>
    
  </div>

  <!-- Streamer Info -->
  <div class="col-md-3">

    <%#= link_to 'Update', @streamer.update_info %>

    <div class="panel panel-default HeadInfo">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= @streamer.league_ign %>
        </h3>
      </div>
      <div class="panel-body">
        <ul class="SummonerInfo">
          <li>
            <div class="SummonerRatingMedium tip" original-title="Solo Rangliste 5v5">
              <div class="Medal">
                <img src="//sf.op.gg/images/medals/diamond_2.png">
              </div>
              <div class="TierRankInfo">
                <div class="TierRank">
                  <span class="tierRank"><%= @streamer.division_info %></span>
                </div>
                <div class="LeaguePoints">
                  <span class="leaguePoints"><%= @streamer.league_points %> LP</span>
                </div>
                <div class="WinLose">
                  <span class="wins"><%= @streamer.current_wins %>W</span>
                </div>
                <div class="LeagueName">
                  <span class="leagueName">Talons Rubine</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <div id="searchItem"></div>

    <hr>

    <p>
      <strong>Twitch username:</strong>
      <%= @streamer.twitch_username %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @streamer.name %>
    </p>

    <p>
      <strong>Is hot streak:</strong>
      <%= @streamer.is_hot_streak %>
    </p>

    <p>
      <strong>Is veteran:</strong>
      <%= @streamer.is_veteran %>
    </p>

    <p>
      <strong>Is fresh blood:</strong>
      <%= @streamer.is_fresh_blood %>
    </p>

    <p>
      <strong>Is inactive:</strong>
      <%= @streamer.is_inactive %>
    </p>

    <%= link_to 'Edit', edit_streamer_path(@streamer) %> |
    <%= link_to 'Back', streamers_path %>
  </div>

</div>