<p id="notice"><%= notice %></p>

<p>
  <strong>Leauge:</strong>
  <%= @item.leauge_id %>
</p>

<p>
  <strong>Plaintext:</strong>
  <%= @item.plaintext %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @item.group %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
